


/* do things when the width is more / less than 768px. 
@media (min-width: 768px)
{
    nav.navbar{
        justify-content: center;
    }
}

@media (max-width: 767.98px)
{

}


Extra small     <576px      .col-
Small           >=576px	    .col-sm-
Medium          >=768px	    .col-md-
Large           >=992px	    .col-lg-
Extra           >=1200px    .col-xl-
    */


/*
Viewport is the browser window size. 1vw = 1% of viewport width. If the viewport is 50cm wide, 1vw is 0.5cm. */
/* the word displayed in train page */
.word-from-train {
    font-size: 10vw;
}


/* all elements */
* {
    margin: 0;
    padding: 0;
    font-family: Candara;
    font-size: 16px;
    
}

/*                */
/*                */
/* NAVIGATION BAR */
li.nav-item.last {
    border-right: none;
}

div.navi {
    background-color: #0dbe98;
}

nav.navbar{
    /*padding 0 - because if element is inside another then the border will be also displayed*/
    padding: 0;
}


ul.nav {
    text-align: center;
    width: 100%;
}


a.nav-link {
    font-size: 20px;
    color: black;
    border-right: 1px solid;
    text-shadow: 1px 0 0 black;
}

a.nav-link:hover {
    color: white;
}

a.active {
    background-color: black;
    color: #0dbe98;
}




/*               */
/*               */
/* for PC */
@media (min-width: 992px) {
    ul.nav {
        margin: 0 10vw 0 15vw;
    }
    input.form-control {
        width: 50%;
    }

    input.btn.btn-primary {
        width: 25%;
        text-shadow: 1px 1px 2px grey;
    }

    p.no-worries {
        font-family: Candara;
        font-size: 14px;
        color: darkslategrey;
    }

    div.form-group.row {
        padding: 10px 0 0 0;
    }

    div.heading-word {
        padding-top: 1vw;
        margin-left: 5vw;
    }
}


/*               */
/*               */
/* for phones */
@media (max-width: 991.98px) {
    ul.nav {
        margin: 0;
    }

    input.form-control {
        width: 100%;
    }

    input.btn.btn-primary {
        width: 50%;
        text-shadow: 1px white;
    }

    p.no-worries {
        font-family: Candara;
        font-size: 4vw;
        color: darkslategrey;
    }

    div.form-group.row {
        
    }

    div.heading-word {
        padding-top: 5vw;
        text-align: center;
    }
}





/*               */
/* INDEX.CSHTML  */
/*               */
/* log in button */
input.btn.btn-primary {
    background-color: #0dbe98;
    color: black;
    font-size: 20px;
    border: 1px solid;
}

div.div-login{
    padding-top: 10px;
}

input.btn.btn-primary:hover{
    color: white;
}


/*               */
/*               */
/*  WORDPAGE.CSHTML */
label.col-form-label.col-sm-2{
    font-size: 20px;
}


h2.heading2{
    text-shadow: 1px 1px 2px yellow;
}

input[type=text]:focus {
    border: 1px solid #555;
}

div.addwordsection{
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid;
}