


/* do things when the width is more / less than 768px. 
@media (min-width: 768px)
{
    nav.navbar{
        justify-content: center;
    }
}

@media (max-width: 767.98px)
{

}


Extra small     <576px      .col-
Small           >=576px	    .col-sm-
Medium          >=768px	    .col-md-
Large           >=992px	    .col-lg-
Extra           >=1200px    .col-xl-
    */


/*
Viewport is the browser window size. 1vw = 1% of viewport width. If the viewport is 50cm wide, 1vw is 0.5cm. */
/* the word displayed in train page */



/* all elements */
* {
    margin: 0;
    padding: 0;
    font-family: Candara;
    font-size: 16px;
    
}

body{
    padding-bottom: 40px;
}


footer.border-top.footer.text-muted {
    position: fixed;
    background: #0dbe98;
    padding-top: 1px;
    height: auto;
}


/*                */
/*                */
/* NAVIGATION BAR */
a.nav-link.last {
    border-right: none;
}

div.navi {
    background-color: #0dbe98;
}

nav.navbar{
    /*padding 0 - because if element is inside another then the border will be also displayed*/
    padding: 0;
}


ul.nav {
    text-align: center;
    width: 100%;
}


a.nav-link {
    font-size: 18px;
    color: black;
    border-right: 1px solid;
    text-shadow: 1px 0 0 black;
}

a.nav-link:hover {
    color: white;
}

a.active {
    background-color: black;
    color: #0dbe98;
}




/*               */
/*               */
/* for PC */
@media (min-width: 992px) {
    ul.nav {
        margin: 0 10vw 0 15vw;
    }
    input.form-control {
        width: 50%;
    }

    input.btn.btn-primary {
        width: 25%;
        text-shadow: 1px 1px 2px grey;
    }

    p.no-worries {
        font-family: Candara;
        font-size: 14px;
        color: darkslategrey;
    }

    div.form-group.row {
        padding: 10px 0 0 0;
    }

    div.heading-word {
        padding-top: 1vw;
        margin-left: 5vw;
    }

    p.words {
        font-size: 18px;
        border: 1px groove;
    }

    input.btn.btn-secondary {
        width: 50%;
    }

    p.word-from-train {
        font-size: 9vw;
        height: 100%;
        margin-bottom: 0;
    }

    div.word-train {
        margin: 3vw 0 3vw 0;
        border: 1px solid;
        text-align: center;
        background-color: #daef9b;        
    }

    div.col.cnr {
        width: 100%;
        text-align: center;
    }
}


/*               */
/*               */
/* for phones */
@media (max-width: 991.98px) {
    ul.nav {
        margin: 0;
        font-size: 10px;
    }

    input.form-control {
        width: 100%;
    }

    input.btn.btn-primary {
        width: 50%;
        text-shadow: 1px white;
    }

    p.no-worries {
        font-family: Candara;
        font-size: 4vw;
        color: darkslategrey;
    }

    div.form-group.row {
        
    }

    div.heading-word {
        padding-top: 5vw;
        text-align: center;
    }

    div.words{
        height: auto;
    }

    p.words {
        font-size: 16px;
        border: 1px groove;
    }

    input.btn.btn-secondary{
        width: 50%;
        
        margin-top: 4vw;
    }

    div.col {
        padding-top: 5vw;
        text-align: center;
    }

    p.word-from-train {
        height: 40vw;
        font-size: 30px;
        text-align: center;
        vertical-align: middle;
        margin: auto;
        padding-top: 15vw;
    }

    div.word-train {
        margin: 5vw 0 3vw 0;
        border: 1px solid;
        text-align: center;
        background-color: #daef9b;
    }
}





/*               */
/* INDEX.CSHTML  */
/*               */
/* log in button */
input.btn.btn-primary {
    background-color: #97edd0;
    color: black;
    font-size: 20px;
    border: 1px solid;
}

div.div-login{
    padding-top: 10px;
}

input.btn.btn-primary:hover{
    color: white;
}


/*               */
/*               */
/*  WORDPAGE.CSHTML */
label.col-form-label.col-sm-2{
    font-size: 20px;
}

/* ADD NEW WORD and WORDS headings*/
h2.heading2{
    text-shadow: 1px 1px 2px grey;
}

input[type=text]:focus {
    border: 1px solid #0dbe98;
    outline: none;
    box-shadow: 2px 2px 2px 1px #0dbe98;
}

div.addwordsection{
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid;
}


/* DELETE BUTTON */
button.btn.btn-outline-danger.btn-sm {
    color: white;
    background-color: #eea7a7;
    border: 1px solid red;
}

button.btn.btn-outline-danger.btn-sm:hover {
    background-color: white;
    color: red;
    box-shadow: 2px 2px 2px 1px black;
}


/* EVERY WORDS LIST */
span.word-span{
    margin-left: 1vw;
}



/*              */
/*              */
/*              */
/* TRAIN PAGE   */




p.pclass{
    height: 100%;
    width: 100%;
    height: 100px;
}


input.form-control.col{
    width: 100%;
}

input.col.cnr-input{
    background-color: #ed6e6e;
    color: whitesmoke;
}


