@page
@model WordsTeacher.UI.Pages.AccountModel
@{
}

@section nav_section{
	<header>
		<div class="navi">
			<nav>
				<ul class="navi-ul">

					<li class="navi-li">
						<a class="navi-a" asp-area="" asp-page="/WordPage">Words</a>
					</li>
					<li class="navi-li">
						<a class="navi-a" asp-area="" asp-page="/Train">Train</a>
					</li>

					@if (User.Identity is not null && User.Identity.IsAuthenticated)
					{
						<li class="navi-li li-last">
							<a class="navi-a" id="active-page-nav" asp-page="/Account">
								@Model.User.Identity?.Name
								<img class="img-nav" src="images/user_icn_green.png" />
							</a>
							
							@*<div class="dropdown-menu">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<a class="dropdown-item" href="#">Something else here</a>
							</div>*@
						</li>
					}
					else
					{
						<li class="navi-li li-last">
							<a class="navi-a" id="active-page-nav" asp-area="" asp-page="/Index">Sign In</a>
						</li>
					}
				</ul>
			</nav>
		</div>

	</header>
}

<div class="container">
	<div id="left-sidebar"> [to change with color] 
		<ul class="sidebar-ul">
			<li class="sidebar-li">
				<a class="sidebar-a" id="active-sidebar" href="#"> Main </a>
				</li>
			<li class="sidebar-li">
				<a class="sidebar-a" href="#"> Settings </a>
				</li>
			<li class="sidebar-li">
				<a class="sidebar-a" asp-page="/Logout"> Sign out </a>
			</li>
		</ul>
	</div>
	<div id="main"> Hello, @Model.User.Identity?.Name </div>

</div>