@page
@model WordsTeacher.UI.Pages.AdminModel
@{
}

@section nav_section{
	<header>
		<div class="container-fluid navi">
			<nav class="navbar justify-content-center ">
				<ul class="nav">

					<li class="nav-item">
						<a class="nav-link active" asp-area="" asp-page="/Admin">Admin</a>
					</li>

					@if (User.Identity is not null && User.Identity.IsAuthenticated)
					{
						<li class="nav-item">
							<a class="nav-link last" asp-area="" asp-page="/Logout">Logout (@User.Identity.Name)</a>
						</li>
					}
					else
					{
						<li class="nav-item">
							<a class="nav-link last" asp-area="" asp-page="/Index">Login</a>
						</li>
					}
				</ul>
			</nav>
		</div>
	</header>
}


<div>
	<p> Users </p>
	
	@if (Model.Users.Count() > 0)
	{
		foreach(var user in Model.Users)
		{
			<div class="col-lg-4 col-md-6 col-6">
				<p class="words">
					<form asp-page-handler="delete" method="post">
						<input type="hidden" name="user" value="@user.UserName" />
						<button class="btn btn-outline-danger btn-sm">Del</button>
						<span class="word-span">@user.UserName </span>
						<span class="word-span"></span>
					</form>
				</p>
			</div>
		}
	}

</div>


