@* index page just redirects the user to the WordPage
	because previously there was an Login page and it is moved to separate Page
	Index is starting point 
*@

@page
@model IndexModel
@{
	ViewData["Title"] = "Index";
	//Layout = "Shared/_Layout.cshtml";
}
@section nav_section{

	<header>
		<div class="container-fluid navi">
			<nav class="navbar">
				<ul class="nav">
					<li class="nav-item">
						<a class="nav-link" asp-area="" asp-page="/WordPage">Words</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" asp-area="" asp-page="/Train">Train</a>
					</li>

					@if (User.Identity is not null && User.Identity.IsAuthenticated)
					{
						<li class="nav-item">
							<a class="nav-link active last" asp-area="" asp-page="/Logout">Logout (@User.Identity.Name)</a>
							
						</li>
					}
					else
					{
						<li class="nav-item">
							<a class="nav-link active last" asp-area="" asp-page="/Index">Login</a>
						</li>
					}
				</ul>
			</nav>
		</div>

	</header>

}


<h2> index </h2>





