@page
@model TrainModel
@{
    ViewData["Title"] = "Train Bruh";
}

@section nav_section{
<header>
    <div class="container-fluid navi">
        <nav class="navbar justify-content-center ">
            <ul class="nav">

                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/WordPage">Words</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" asp-area="" asp-page="/Train">Train</a>
                </li>

                @if (User.Identity is null || !User.Identity.IsAuthenticated)
                {
                    <li class="nav-item last">
                        <a class="nav-link" asp-area="" asp-page="/Index">Login</a>
                    </li>
                }
                else
                {
                    <li class="nav-item last">
                        <a class="nav-link" asp-area="" asp-page="/Index">Logout (@User.Identity.Name)</a>
                    </li>
                }
            </ul>
        </nav>
    </div>

</header>
}


<div>
    <p class="word-from-train"> Word - @Model.DisplayedWord </p>
    <form method="post">
        <p>
            <label> Translation? </label>
            <input asp-for="Translated" />
        </p>
        <p>
            <input type="submit" value="Check?" />
        </p>
    </form>
        
    <p>@Model.CheckingResult</p>
</div>
