@page
@model WordPageModel
@{
	ViewData["Title"] = "Words Bruh";
}

@section nav_section{


<header>
	<div class="container-fluid navi">
		<nav class="navbar justify-content-center ">
			<ul class="nav">

				<li class="nav-item">
					<a class="nav-link active" asp-area="" asp-page="/WordPage">Words</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" asp-area="" asp-page="/Train">Train</a>
				</li>

				@if (User.Identity is null || !User.Identity.IsAuthenticated)
				{
					<li class="nav-item last">
						<a class="nav-link" asp-area="" asp-page="/Index">Login</a>
					</li>
				}
				else
				{
					<li class="nav-item last">
						<a class="nav-link" asp-area="" asp-page="/Index">Logout (@User.Identity.Name)</a>
					</li>
				}
			</ul>
		</nav>
	</div>

</header>
}


<div>
	<h3> Add new word </h3>
	<form method="post">
		<input asp-for="OneWord.NickName" type="hidden" />
		<input asp-for="OneWord.Id" type="hidden" />
		<p>
			<label>Word</label>
			<input asp-for="OneWord.Definition" pattern="branch" autofocus required/>
		</p>
		<p>
			<label>Translation</label>
			<input asp-for="OneWord.Meaning" pattern="гілка" required/>
		</p>

		<p><input type="submit" value="Add" /> </p>
	</form>
</div>


<div>
	<h3> Words </h3>
	@{
		@if(Model.Words.Count() > 0)
		{
			foreach(var word in Model.Words)
				{
					<p> @word.Definition - @word.Meaning </p>
				}
		}
	}
</div>

